@charset "UTF-8";
/* CSS Document */
/*обнуляющий стиль*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

/*------------------------------------------------------------------------*/
div {
  display: block;
  margin: 25px;
  color: white;
  text-decoration: none;
  line-height: 60px;
  text-transform: uppercase;
  font-size: 25px;
  letter-spacing: 2px;
  border-radius: 10px;
  width: 450px;
  height: 50px;
  position: relative;
  text-align: center;
  transition: 10s;
}

.one {
  background-color: blue;
  transition-timing-function: ease;
}

.two {
  background-color: greenyellow;
  transition-timing-function: ease-in;
}

.three {
  background-color: pink;
  transition-timing-function: ease-out;
}

.four {
  background-color: blue;
  transition-timing-function: ease-in-out;
}

.five {
  background-color: greenyellow;
  transition-timing-function: linear;
}

.six {
  background-color: pink;
  transition-timing-function: steps(5 end);
}

.seven {
  background-color: blue;
  transition-timing-function: cubic-beizer(0.68, -0.55, 0.265, 1.55);
}

.wrapper:hover .one {
  width: 900px;
}

.wrapper:hover .two {
  width: 900px;
}

.wrapper:hover .three {
  width: 900px;
}

.wrapper:hover .four {
  width: 900px;
}

.wrapper:hover .five {
  width: 900px;
}

.wrapper:hover .six {
  width: 900px;
}

.wrapper:hover .seven {
  width: 900px;
}